.stats {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 20px;
}

.card {
  display: grid;
}

.avatar {
  max-width: 100%;
  object-fit: cover;
  display: grid;
  grid-area: 1/4/2/5;
  /* horizontal line to start at / vertical line to start at 
  / horizontal line to end at / vertical line to end at; */

}
