
.profile {
  background-color: #fff;
  width: 340px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin-top);
  border-radius: var(--radius);
  box-shadow: 5px 5px 18px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: var(--font-size-big);
}
.avatar {
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
  width: 100px;
  height: var(--height-cell);
  margin-top: var(--margin-top);
  border: var(--border);
}
.name {
  margin-top: var(--margin-top);
  color: var(--dark);
  font-weight: var(--bold);
}
.tag {
  margin-top: var(--margin-top);
  color: var(--light);
  font-weight: var(--thin);
}
.location {
  margin-top: var(--margin-top);
  color: var(--light);
  font-weight: var(--thin);
}
.stats {
  margin-top: var(--margin-top);
  display: grid;
  grid-template-columns: var(--grid-template-columns);
  grid-template-rows: 1fr;
  border: var(--border);
  background-color: var(--background-color);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
}
.card {
  display: grid;
  border: var(--border);
  height: var(--height-cell);
  text-align: center;
  align-content: center;
}
.card:last-child {
  border-bottom-right-radius: var(--radius);
}
.card:first-child {
  border-bottom-left-radius: var(--radius);
}
.label {
  color: var(--light);
  margin-bottom: 4px;
  font-weight: var(--thin);
}
.quantity {
  font-weight: var(--bold);
  color: var(--dark);
}
