
.statistics{
    width: 580px;
    margin-left: auto;
  margin-right: auto;
  margin-top: var(--margin-top);
}
.title{
    background-color: #fff;
    height: var(--height-cell);
    text-align: center;
}
.statList{
    display: grid;
    grid-template-columns: var(--grid-template-columns);
}
.item{
    height: var(--height-cell);
    border: var(--border);
    display: grid;
    align-content: space-evenly;
    justify-content: center;
}
.label{
    display: block;
}
.percentage{
    font-size: var(--font-size-big);
}